/* Tungsten & Avenir Fonts */
@font-face {
  font-family: "Tungsten";
  src: url("assets/fonts/tungsten-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/avenir-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/avenir-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/avenir-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}