.header{
  height: 140px;
    
  /* company' logo */
  &__logo{
    grid-column: 2/3;
    align-self: center;
    z-index: 4;
    
    @media (min-width: 68.75em){ /* 1100px = 68.75em */
      grid-column: 1/3;
      justify-self: center;
      margin-left: 40px;
    }

    @media (min-width: 77.625em){ /* 1242px = 77.625em */
      margin-left: 0;
    }
    
    & img{
      max-width: 8.125rem; /* 130px = 8.125rem */

      @media (min-width: 48em){ /* 768px = 48em */
        max-width: 10rem;
      }

    }

  }


  /* contains the site' main navigation links */
  &__menu-content{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    z-index: 3;
    
    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 3/9;
      align-self: center;
      justify-self: center;
      margin-left: 60px;
      background-color: transparent;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      height: auto;
      opacity: 1;
      visibility: visible !important;
    }

    @media (min-width: 68.75em){ /* 1100px = 68.75em */
      grid-column: 3/9;
    }
    
    @media (min-width: 77.625em){ /* 1242px = 77.625em */
      justify-self: start;
      /* margin-left: 0px; */
    }


    /* shows the main navigation when the mobile menu icon is clicked */
    &--is-open{
      opacity: 1;
      visibility: visible;
    }

  }


  /* contains search, user profile & mobile menu icons */
  &__right-content{
    position: relative;
    display: flex;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    margin-right: 25px;
    z-index: 4;

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 5/6;
    }
    
    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 9/10;
      justify-self: center;
      margin-right: -45px;
    }

    @media (min-width: 68.75em){ /* 1100px = 68.75em */
      grid-column: 9/10;
      justify-self: center;
      margin-right: 0;
    }

    & >:not(:last-child){
      margin-right: 28px;
      
      @media (min-width: 62em){ /* 992px = 62em */
        margin-right: 1px;
        margin-left: 33px;
      }

      @media (min-width: 68.75em){ /* 1100px = 68.75em */
        margin-right: 20px;
        margin-left: 20px;
      }

    }

  }

  /* login icon */
  &__login{
    display: flex;
    align-items: center;

    font-family: $mont;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.24em;
    text-transform: uppercase;

    & span{
      margin-left: 12px;
      color: #fff;
    }
  }

  /* mobile menu icon */
  &__mobile-menu-icon{
    position: absolute;
    top: 59px;
    right: -14px;
    width: 20px;
    height: 19px;
    z-index: 4;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 3px;
      background-color: #fff;
      transition: transform .3s ease-out;
    }

    &-middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: #fff;
      transition: all .3s ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 15px;
      width: 15px;
      height: 3px;
      background-color: #fff;
      transition: transform .3s ease-out;
    }

    /* creates the X button when the mobile menu icon is clicked */
    &--close{
      top: 58px;

      &::before {
        transform: translateX(3px) rotate(45deg) translateY(3px);
        background-color: #000;
        width: 12px;
        height: 2px;
      }

      .header__mobile-menu-icon-middle {
        transform: translateX(-1px) rotate(-45deg);
        background-color: #000;
        width: 24px;
        height: 2px;
      }

      &::after {
        transform: translateX(-9px) rotate(45deg) translateY(-6px);
        background-color: #000;
        width: 12px;
        height: 2px;
      }

    }
    
    @media (min-width: 62em){ /* 992px = 62em */
      display: none;
    }

  }


  /* this style allows the hero section to take up the entire section with the header section
     on top of it.
  */
  &__position-absolute{

    @media (max-width: 47.9375em) { /* 47.9375em = 767px */
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: auto;
      left: 0%;
    }

  }


}