.info{

  /* 991px =  61.9375em  &  620px = 38.75em */
  @media (max-width: 61.9375em) and (min-width: 38.75em){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0px 30px;
  }

}