.info{
  grid-column: 2/4;

  @media (min-width: 48em){ /* 768px = 48em */
    grid-column: 2/6;
  }

  @media (min-width: 62em){ /* 992px = 62em */
    grid-column: 2/10;
  }

  /* this styles relates to info block that have a 1 column layout on desktop screens 
     but 2 column on tablet screens.
  */
  &__one-column-layout{

    @media (max-width: 61.9375em){  /* 991px =  61.9375em */
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      column-gap: 5rem;
    }

  }

    /* this styles relates to a info block that have 3 column layout on desktop screens 
     but 2 column on tablet screens.
  */
  &__three-column-layout{
    
    @media (min-width: 39.375em){ /* 630px = 39.375em */
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 1fr));
      column-gap: 4rem;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      grid-template-columns: repeat(3, minmax(auto, 1fr));
    }

    @media (min-width: 85.875em){ /* 1374px = 85.875em */
      column-gap: 7rem;
    }

    @media (min-width: 137.125em){ /* 2194pxpx = 137.125em */
      column-gap: 10rem;
    }

  }

}