.main-nav{
  position: relative;
  top: 67%;
  height: 70%;
  transform: translateY(-55%);
  text-align: center;

  @media (min-width: 62em){ /* 992px = 62em */
    top: auto;
    height: auto;
    transform: none;
    text-align: left;
    display: flex;
  }

  /* contains the unordered list of the site' main navigation links */
  &__list{
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    
    @media (min-width: 62em){ /* 992px = 62em */
      display: flex;
      margin: 0;
    }

  }

  /* individual list items containing their respected navigation link */
  &__item{
    position: relative;
    display: block;
    height: 30%;
    height: calc(100% / 5);
    min-height: 30px;
    opacity: 0;

    @media (min-width: 62em){ /* 992px = 62em */
      position: relative;
      display: block;
      height: auto;
      min-height: auto;
      opacity: 1;
      text-align:center;
  
      &:not(:last-child){
        margin-right: 33px;
      }
    }

    @media (min-width: 68.75em){ /* 1100px = 68.75em */
      
      &:not(:last-child){
        margin-right: 45px;
      }

    }

  }

  /*  individual links for the site' main navigation  */
  &__link{
    color: #fff;
    font-family: $mont;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    position: relative;
  
    /* creates the white line that goes from left to right when hovering over the links. NOTE: this only applies to
       links that don't have the class of 'main-nav__current-page'
    */
    &:not(.main-nav__current-page):after{

      @media (min-width: 62em){ /* 992px = 62em */
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
      }

    }

    &:not(.main-nav__current-page):hover{

      @media (min-width: 62em){ /* 992px = 62em */
        &:after{
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

    }

    /* changes the navigation links color to black when the main navigation is open on mobile & tablet screens */
    &:link.change-to-black, &:visited.change-to-black {
      
      @media (max-width: 71.4375em){ /* 1143px = 71.4375em */
        color: #000;
      }

    }

  }

  /* places a line under the link of the current page */
  &__current-page{

    @media (min-width: 62em){ /* 992px = 62em */
      position: relative;

      &:after{
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
      }

    }
    
  }


}