.section{

  &--about-hero,{
    margin-top: 55px;
    margin-bottom: 55px;

  }

  &--about-class{
    margin-top: 190px;
    margin-bottom: 0px;
 
  
    @media (min-width: 48em){  /* 768px = 48em */
      margin-top: 50px;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      margin-top: 250px;
    }

  }


  
  /* PLEASE NOTE: the following relates to images that start on the 
     left edge of screen and content to the right of it. 
  */

  /* image that starts on the left edge of the sreen */
  &__left-image{
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-bottom: 15px;

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 1/6;
      margin-bottom: 0;
    }

  }
  
  /* the heading that appears on top of the image that starts at the left edge of the screen. */
  &__left-image-heading{
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-top: -35px !important;

    @media (min-width: 29.1875em){ /* 467px = 32.0625em */
      width: 7em;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 1/5;
      margin-top: -50px !important;
      margin-right: 0;
      margin-left: 0;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 2/5;
    }

  }

  /* this is modified version for the values section on the about page */
  &__left-image-heading--values{

    @media (min-width: 29.1875em){ /* 467px = 32.0625em */
      width: 8em;
      margin-right: auto;
      margin-left: auto;
    }

  }

  /* content to the right of the image */
  &__right-content{
    grid-column: 1/-1;

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 7/10;
      grid-row: 1/2;
      margin-top: 190px;
      align-self: center;
      z-index: 2;
    }

    @media (min-width: 101.75em){ /* 1628px = 101.75em */
      margin-top: 0;
    }

  }


  /* PLEASE NOTE: the following relates to images that are on the 
     right and content to the left of it. 
  */
  
  /* image on the right */
  &__right-image{
    grid-column: 2/4;
    grid-row: 1;

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/6;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 6/10 ;
    }

    @media (min-width: 88em){ /* 1408px = 88em */
     grid-column: 5/10;
    }

  }

  /* heading on the right */
  &__right-image-heading{
    grid-column: 2/4;
    grid-row: 1;
    margin-top: -35px !important;

    @media (min-width: 24.625em){ /* 394px = 24.625em */
      width: 5em;
      margin-right: auto;
      margin-left: auto;
    }


    @media (min-width: 48em){ /* 768px = 48em */
      margin-top: -50px !important;
      margin-right: 0;
      margin-left: 0;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 2/6;
      width: auto;
      margin-top: 20px !important;
    }

    @media (min-width: 68.75em){ /* 1100px = 68.75em */
     margin-top: 40px !important;
     width: 4em;
    }

  }


  /* text content on the left */
  &__left-content{
    grid-column: 2/4;
    margin-top: 15px;

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/6;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 2/5;
      grid-row: 1/2;
      margin-top: 330px;
      margin-bottom: 30px;
      z-index: 2;
    }

    @media (min-width: 88em){ /* 1408px = 88em */
      grid-column: 2/4;
      margin-top: 360px;
    }

  }



  /* PLEASE NOTE: the following relates to images that are full width
     with a heading on top of it.
  */
  &__full-width-image{
    grid-column: 1/-1;
    grid-row: 1;
    height: 70vh;
    margin-right: 5vw;
    margin-left: 5vw;
    position: relative;
  }


  /* heading that appear on top & center over an image */
  &__heading-center{
    grid-column: 1/-1;
    position: absolute !important;
    top: -60px;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
    width: 100% !important;

    @media (min-width: 29.9375em){ /* 479px = 29.9375em */
      max-width: 6em !important;
      margin-right: auto !important;
      margin-left: auto !important;
    }

    @media (min-width: 68.75em){ /* 1100px = 68.75em */
      top: -75px;
    }

  }

  /* this refers to heading that appear on the top left of full width images. */
  &__heading-left{
    grid-column: 2/4;
    grid-row: 1;
    margin-top: -110px !important;
    text-align: center;
    
    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/5;
      text-align: left;
    }
    
    @media (min-width: 51.625em){ /* 826px = 51.625em */
      /* width: 7em; */
    }
    
    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 2/9;
    }

    @media (min-width: 77.75em){ /* 1244px = 77.75em */
      width: 50em;
    }
    
  }
  
  /* this refers to the line that appears under the word 'here' in the sentence
     'view the various classes here.' in the 'about' page.
  */
  &__link{
    position: relative;
    color: #fff; 

    &:after{
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      height: 6px;
      width: 100%;
      background-color: #fff;
      transform: scaleX(1);
      transform-origin: bottom left;
      transition: transform 0.3s;
    }

    &:hover:after{
      transform: scaleX(0);
      transform-origin: bottom right;
    }

  }


}