.text-content{
  font-family: Avenir, sans-serif;
  line-height: 1.59;
  margin-top: 15px;
  margin-bottom: 30px;

  &--white{
    color: #fff;
    font-size: 21px;
    line-height: 1.17;
    font-weight: 500;

    @media (min-width:40em){
      font-size: 23px;
    }

  }

  &--grey{
    color: $grey;
  }

  &--footer{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;

    @media (min-width: 62em){ /* 992px = 62em */
      margin-top: 15px;
      text-align: center;
    }

    @media (min-width: 68.75em){ /* 1100px = 68.75em */
      text-align: center;
    }

  }

}