.user{
  display: grid;
  grid-template-columns: minmax(2vw, 5vw) 1fr minmax(2vw, 5vw); 
  font-family: Avenir, sans-serif;

  @media (min-width: 48em){ /* 768px = 48em */
    grid-template-columns:
      minmax(0.5fr, 1fr) 
      repeat(2, 300px)
      minmax(0.5fr, 1fr);
  }

  @media (min-width: 62em){ /* 992px = 62em */
    grid-template-columns:
    1fr
    repeat(5, minmax(9.375rem, 18.625rem)) /* 9.375rem = 150px,  15.625rem = 298px  */
    1fr ;
  }

  &__heading{
    margin-bottom: 0 !important;
    text-align: center;
  }

  &__text-content{
    text-align: center;
  }

  &__link{
    color: #fff;
  }



  /* PLEASE NOTE: The following refers to the user login form. */
  &__login{
    grid-column: 2/3;

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/3;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 3/6;
    }
    
  }


  &__login-forgot-password{
    margin-top: 50px !important;
    margin-bottom: -2px !important;
  }




  /* PLEASE NOTE: The following refers to the password reset form. */
  &__password{
    grid-column: 2/3;

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 3/6;
    }
    
  }

  &__password-resgister-account{
    margin-top: 50px;
  }




  /* PLEASE NOTE: The following refers to the user registration form. */
  &__registration{
    grid-column: 2/3;

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 3/6;
    }

  }

  &__registration-login-account{
    margin-top: 50px;
    margin-bottom: 0;
  }



}